* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color:lightgrey;
}

.row {
    overflow: hidden;
    margin-left: 20px;
    margin-right: 20px;
}

    [class*="col-"]{
    float: left;
}

@media only screen and (min-width:600px) {
    .col-1{
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}
}

.div1, .div2, .div3, .div4, .div5, input, label, textarea, select {
    padding: 10px;   
}

.div5 input {
    background-color: green;
    color: white;
    cursor: pointer;
}

.div5 input:hover {
    opacity: 0.8;
}

/* Responsive za mobilne telefone */
@media only screen and (max-width:599px) {
    [class*="col-"] {
        width: 100%;
    }
}